@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
:root {
  --color-background: #212121;
  --color-navbar: #000000;
  --color-background-home: #344960;
  --color-text-light: #ededed;
  --color-text-title: #ff5555;
  --color-text-dark: #3d3d3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  transition: 0.2s opacity;
}

a:hover {
  opacity: 0.8;
}
